useDynLib(movingModelRcpp, .registration=TRUE)
export(simulateSEIR)
export(fitMoveMatrix)
importFrom(Rcpp, evalCpp)
importFrom(parallel, makeCluster)
importFrom(parallel, stopCluster)
importFrom(foreach, `%dopar%`)
importFrom(foreach, foreach)
importFrom(doParallel, registerDoParallel)
importFrom(plsgenomics, matrix.heatmap)